<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ParcialDBConnection"
            connectionString="Data Source=pc-charly;Initial Catalog=PrimerParcialLUG;Integrated Security=True;" />
    </connectionStrings>
</configuration>